body{
    background-color: #0c2b40;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.navi{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16%;
    list-style-type:none;

    
}
.navi a{
    color:#0fb8ce ;
    font-size: 20px;
    text-decoration: none;
    font-family: "Arimo";
}
img{
    height:30%;
    width: 40%;
    float:right;
    padding-right: 25px;
}
#logo{
    float:left;
    height: 5%;
    width: 5%;
    padding-left: 30px;
    padding-top:30px
}
#hot{
    font-size: 15.1px;
    color: white;
    padding-right: 30px;
    padding-top: 40px;
    font-family: "Arimo";

}
h1{
    font-family: "Arimo";
    font-size: 57.5px;
    color: #0fb8ce;
    height:100px;
    width:450px;
    padding-top: 40px;

}
#button{
    font-size: 14px;
    float: inline-end;
    padding-top: 250px;
    padding-right: 600px;
    font-family: "Arimo";
    color:#0fb8ce ;
    border:2px;
    border-width: 20px;
    


}